<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/axios.js"></script>
</head>


<body>

    <section id="todoapp" class="todoapp">
        <todos></todos>
    </section>

    <script>
        axios.defaults.baseURL = 'http://localhost:3001/';
        Vue.component("todos", {
            template: ` <div>
        <my-header @onEnterSubmit="onEnterSubmit"></my-header>

        <my-list :selectState="selectState" :todos="todos" @onClickRemoveOneItem="onClickRemoveOneItem" @allSelectState="allSelectState"></my-list>
        <my-foot :activeItemNum="activeItemNum" :selectState="selectState"  @onClickClearCompleted="onClickClearCompleted" @onClickSelectState="onClickSelectState"></my-foot>
  </div> `,
            data: function() {
                return {
                    // inputChangeTitle: '', //保存想要修改的对象
                    selectState: 'all', //记录当前选中的类型
                    // selectList: ['All', 'Active', 'Completed'], //状态数组
                    todos: [{
                        id: 1,
                        title: '吃饭',
                        completed: false
                    }, {
                        id: 2,
                        title: '睡觉',
                        completed: false
                    }, {
                        id: 3,
                        title: '打豆豆',
                        completed: true
                    }]
                }
            },

            methods: {
                //按回车键新增一条笔记
                onEnterSubmit: function(inputTitle) {

                    //判断当前输入框中是否有内容
                    //trim()去除字符串中的空格
                    //如果inputTitle不为字符串对象  那么久没有trim这个方法
                    if (!inputTitle || !inputTitle.trim()) {
                        //如果没有内容就跳出 不去新增数据
                        return;
                    }

                    let newObj = {}; //新增一个空数据对象
                    newObj.id = this.todos.length + 1; //id直接等于创建数据时的时间戳,已保证id的唯一性
                    newObj.id = +new Date();
                    //用户输入的标题内容
                    newObj.title = inputTitle;
                    // /默认的新笔记是未完成的状态
                    newObj.completed = false;

                    //将新内容增加到数据源中,并刷新视图
                    this.todos.push(newObj);

                    axios.post('add', newObj).then(function(value) {
                        this.todos.push(value);
                        console.log(value);
                    })
                },
                //删除的回调方法
                onClickRemoveOneItem: function(item) {
                    //item是整个数据对象
                    if (item) {
                        //获取要删除的数据在数组中的下标
                        let index = this.todos.indexOf(item);
                        //从数组中删除index下标的数据
                        this.todos.splice(index, 1);
                    }
                    // console.log(item.id);
                    axios.delete('list/' + item.id).then(function(ret) {})
                },

                //点击清除已完成的任务
                onClickClearCompleted() {

                    //方法二: 过滤
                    axios.delete('deleteall').then((value) => {})
                    this.todos = this.todos.filter(value => !value.completed);

                },
                allSelectState(value) {
                    axios.get('all/' + value == 1).then((val) => {

                    })
                    this.todos.forEach(element => element.completed = value);
                },
                // 切换显示状态的方法
                onClickSelectState(value) {
                    this.selectState = value;
                }
            },
            created() {
                axios.get('list').then(val => {
                    // console.log(this.todos);
                    // console.log(val.data);
                    // this.todos = val.data;
                    var newData = val.data.filter(function(obj) {
                        return obj.title;
                    })
                    this.todos = newData;
                    // console.log(newData);
                    console.log(val);
                });
            },
            //计算属性
            computed: {
                activeItemNum: function() {
                    let num = 0;
                    for (let i = 0; i < this.todos.length; i++) {
                        if (!this.todos[i].completed) {
                            num++;
                        }
                    }
                    return num;
                },
            }
        });

        //声明一个头部组件
        Vue.component('my-header', {
            template: `<header class="header">
            <h1>todos</h1>
            <input placeholder="What needs to be done?" class="new-todo" @keydown.enter="onEnterSubmit" v-model="inputTitle">
            </header>`,
            data: function() {
                return {
                    inputTitle: '', //用户新增的内容  初始化为空字符串
                }
            },
            methods: {
                onEnterSubmit: function() {
                    //子组件抛出事件和参数
                    //具体操作由父组件完成
                    this.$emit('onEnterSubmit', this.inputTitle);
                    //清空输入框里的内容
                    this.inputTitle = '';
                }
            }
        });

        // 声明列表组件
        Vue.component('my-list', {
            template: `<section class="main">
            <input id="toggle-all" type="checkbox" class="toggle-all" v-model="allSelectState">
            <label for="toggle-all">Mark all as complete</label>
            <ul class="todo-list">
                <li :class="{completed:value.completed,editing:inputChangeTitle.id=== value.id}" v-for="(value,index) in todos" :key="value.id" v-show="selectState=='all'||(selectState=='active' && !value.completed)||(selectState=='completed'&& value.completed)">
                    <div class="view"><input type="checkbox" class="toggle" v-model="value.completed">
                        <label @dblclick="onDblClickLable(value)">{{value.title}}</label>
                        <button class="destroy" @click="onClickRemoveOneItem(value)"></button>
                    </div>
                    <!-- 按下esc时   取消修改的数据内容 -->
                    <!-- @keydown.esc  esc按键点击事件 -->
                    <!-- v-focus 自定义指令  实现出现时自动聚焦 -->
                    <!-- :data-id  自定义属性  确定input框的唯一性 -->
                    <input class="edit" v-model="inputChangeTitle.title" @keydown.esc="inputChangeTitle={}" v-focus="inputChangeTitle.id" :data-id="value.id" @blur="inputChangeTitle={}" @keydown.enter="onEnterInput(value)">
                </li>
            </ul>
        </section>`,
            data: function() {
                return {
                    inputChangeTitle: {}, //保存想要修改的对象
                };
            },
            props: ['selectState', 'todos'],
            computed: {
                allSelectState: {
                    //获取值时  调用的方法

                    get: function() {
                        // 没有修改prop里面的值 所以不用改
                        return this.todos.every(value => value.completed)
                    },
                    //设置值时  调用的方法
                    set: function(value) {
                        // 修改了prop里面的值 所以需要抛事件
                        // 让父组件修改
                        this.$emit('allSelectState', value);
                        // this.forEach(element => element.completed = value)
                    },

                }
            },
            methods: {
                // 删除的回调方法
                onClickRemoveOneItem: function(item) {
                    // 抛出事件
                    this.$emit('onClickRemoveOneItem', item);
                },

                //双击文本框回调 修改
                onDblClickLable: function(item) {

                    //将想要改变的对象赋值给inputChangeTitle
                    //对象不能简单的用等于号直接复制,这样赋值的两个变量实际是一个变量
                    this.inputChangeTitle = {};
                    for (let value in item) {
                        //value是item的每个键值对的键名
                        //item[value] 是item的每个键值对的值
                        this.inputChangeTitle[value] = item[value];
                    }


                },
                //确认要修改的内容
                onEnterInput: function(item) {
                    // console.log(item.title);
                    //修改后的内容复制给用来显示的数据
                    item.title = this.inputChangeTitle.title;
                    //赋值后隐藏修改框
                    this.inputChangeTitle = {};

                    axios.put('list/' + item.id, item).then((val) => {
                        item.title = item.title;
                        // console.log(item.title);

                    })

                },
            },

            //自定义指令
            directives: {
                'focus': {
                    //当绑定的对象发生改变时  触发update回调    
                    update: function(el, binding) {
                        // 触发指令时的值
                        let curValue = binding.value;

                        //input标签的唯一标识
                        // getAttribute 获取标签的属性值
                        let inputValue = el.getAttribute('data-id');
                        // console.log(inputValue);

                        //判断改变的对象和要改变的对象是否相等
                        if (curValue == inputValue) {
                            //聚焦到要显示的对象上
                            el.focus();
                        }
                    }
                }
            },
        })

        // 声明脚部组件
        Vue.component('my-foot', {
            template: `<footer class="footer">
            <span class="todo-count">
                <strong>{{activeItemNum}}</strong> item left</span>
            <ul class="filters">
                <li v-for="(value,index) in selectList" :key="index"><a v-bind:class="{selected:selectState==value.toLocaleLowerCase()}" @click="onClickSelectState(value)">{{value}}</a></li>

            </ul>
            <button class="clear-completed" @click="onClickClearCompleted">Clear completed</button>
        </footer>`,
            data: function() {
                return {
                    selectList: ['All', 'Active', 'Completed'], //状态数组
                }

            },
            props: ['activeItemNum', 'selectState'],
            methods: {
                //点击清除已完成的任务
                onClickClearCompleted: function() {
                    this.$emit('onClickClearCompleted');
                },
                // 切换显示的内容状态
                onClickSelectState: function(value) {
                    this.$emit('onClickSelectState', value.toLocaleLowerCase())
                },

            },

        });

        new Vue({
            el: '#todoapp',
        });
    </script>
</body>

</html>