<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="js/data.js"></script>
    <script src="js/vue.js"></script>
</head>

<body>
    <div id="box">
        <select v-model='proIndex'>
            <option v-for="(item,key) in datas[0]" :value="key" :key="key">{{item}}</option>
        </select>
        <select v-model='cityIndex'>
            <option v-for="(item,key) in datas[0+','+proIndex]" :value="key" :key="key">{{item}}</option>
        </select>
        <select>
            <option v-for="(item,key) in datas[0+','+proIndex+','+city2" :value="key" :key="key">{{item}}</option>
        </select>
    </div>
    <script>
        // comouted
        // 动态监听所关联过的属性的变化
        // 当关联的属性发生变化时 会自动调用
        // 不能通过v-model进行绑定
        // 只是赋值而不获取的变量 是不被监听变化的
        new Vue({
            el: '#box',
            data: {
                proIndex: '',
                cityIndex: '',
                datas: data,
            },
            created: function() {
                this.proIndex = '110000';
                this.cityIndex = '110100';
            },
            computed: {
                city2: function() {
                    let id;
                    for (var k in this.datas[0 + '' + this.proIndex]) {
                        id = k;
                        break;
                    }

                    this.cityIndex = id;
                    return id;
                }
            }
        })
    </script>
</body>

</html>