<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="js/data.js"></script>
    <script src="js/vue.js"></script>
</head>

<body>
    <div id="box">
        <select v-model="proIndex">
            <option v-for="(item,key) in datas[0]" :value="key" :key="key">{{item}}</option>
        </select>
        <select v-model='cityIndex'>
            <option v-for="(item,key) in datas[0+','+proIndex]" :value="key" :key="key">{{item}}</option>
        </select>
        <select>
            <option v-for="(item,key) in datas[0+','+proIndex+','+cityIndex]" :value="key" :key="key">{{item}}</option>
        </select>
    </div>
    <script>
        // watch:观察属性
        // 观察data中的属性的变化 然后进行相应的操作
        new Vue({
            el: '#box',
            data: {
                proIndex: '',
                cityIndex: '',
                datas: data,
            },
            created: function() {
                this.proIndex = '110000';
                this.cityIndex = '110100';
            },
            watch: {
                //对象名 是对应的data里面的属性名
                //对象值 属性发生变化时调用的方法
                //value 是改变后的值
                proIndex: function(value) {
                    let id;
                    for (let key in this.datas[0 + ',' + value]) {
                        id = key;
                        break;
                    }
                    this.cityIndex = id;
                }
            }
        })
    </script>
</body>

</html>