<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <div class="box1">
            <p>methods:</p>
            <input type="text" v-model="methodsMsg.num1">
            <select v-model="methodsMsg.arithmetic">
                <option value="+">+</option>
                <option value="-">-</option>
                <option value="*">*</option>
                <option value="/">/</option>
            </select>
            <input type="text" v-model="methodsMsg.num2" @keyup.enter="onClickMethods">
            <button @click="onClickMethods">=</button>
            <span v-text="methodsMsg.sum"></span>
        </div>

        <div class="box2">
            <p>watch:</p>
            <input type="text" v-model="watchMSg.num1">
            <select v-model="watchMSg.arithmetic">
                <option value="+">+</option>
                <option value="-">-</option>
                <option value="*">*</option>
                <option value="/">/</option>
            </select>
            <input type="text" v-model="watchMSg.num2" @keyup.enter="onClickMethods">
            <button>=</button>
            <span v-text="watchMSg.sum"></span>
        </div>

        <div class="box3">
            <p>computed:</p>
            <input type="text" v-model="computedMsg.num1">
            <select v-model="computedMsg.arithmetic">
                <option value="+">+</option>
                <option value="-">-</option>
                <option value="*">*</option>
                <option value="/">/</option>
            </select>
            <input type="text" v-model="computedMsg.num2" @keyup.enter="onClickcomputedMsg">
            <button @click="onClickcomputedMsg">=</button>
            <span> {{computedMsg.sum}}</span>
        </div>
    </div>

    <br>
    <div style="color: red;">
        <ol>
            <li>computer 模式 并没有生效（没有实现改变前面三个变量时，自动变化结果）</li>
            <li>没有使用comouted里声明的computedSum变量</li>
        </ol>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                methodsMsg: {
                    num1: '',
                    num2: '',
                    arithmetic: '+',
                    sum: '',
                },
                watchMSg: {
                    num1: '',
                    num2: '',
                    arithmetic: '+',
                    sum: '',
                },
                computedMsg: {
                    num1: '',
                    num2: '',
                    arithmetic: '+',
                    sum: '',
                },
            },
            methods: {
                onClickMethods: function () {
                    if (this.methodsMsg.arithmetic == '+') {
                        this.methodsMsg.sum = parseInt(this.methodsMsg.num1) + parseInt(this.methodsMsg.num2);
                    } else if (this.methodsMsg.arithmetic == '-') {
                        this.methodsMsg.sum = parseInt(this.methodsMsg.num1) - parseInt(this.methodsMsg.num2);
                    } else if (this.methodsMsg.arithmetic == '*') {
                        this.methodsMsg.sum = parseInt(this.methodsMsg.num1) * parseInt(this.methodsMsg.num2);
                    } else {
                        this.methodsMsg.sum = parseInt(this.methodsMsg.num1) / parseInt(this.methodsMsg.num2);
                    }
                },
                onClickcomputedMsg: function () {
                    this.computedSum;
                }
            },
            watch: {
                watchMSg: {
                    handler: function (v) {
                        if (v.arithmetic == '+') {
                            v.sum = parseInt(v.num1) + parseInt(v.num2);
                        } else if (v.arithmetic == '-') {
                            v.sum = parseInt(v.num1) - parseInt(v.num2);
                        } else if (v.arithmetic == '*') {
                            v.sum = parseInt(v.num1) * parseInt(v.num2);
                        } else {
                            v.sum = parseInt(v.num1) / parseInt(v.num2);
                        }
                    },
                    deep: true
                }
            },
            computed: {
                computedSum: function () {
                    console.log(this.computedMsg.arithmetic);
                    if (this.computedMsg.arithmetic == '+') {
                        return this.computedMsg.sum = parseInt(this.computedMsg.num1) + parseInt(this.computedMsg.num2);
                    } else if (this.computedMsg.arithmetic == '-') {
                        return this.computedMsg.sum = parseInt(this.computedMsg.num1) - parseInt(this.computedMsg.num2);
                    } else if (this.computedMsg.arithmetic == '*') {
                        return this.computedMsg.sum = parseInt(this.computedMsg.num1) * parseInt(this.computedMsg.num2);
                    } else {
                        return this.computedMsg.sum = parseInt(this.computedMsg.num1) / parseInt(this.computedMsg.num2);
                    }
                },
            },
        })
    </script>
</body>

</html>