<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        p {
            float: left;
            margin-left: 20px;
        }
    </style>
</head>

<body>
    <div id="app">
        <p>watch: </p>
        <p> 省: <select v-model="pro">
                <option :value="key" v-for="(value,key) in allData[0]" :key="key">{{value}}</option>
            </select>
        </p>
        <p> 市:
            <select v-model="city">
                <option :value="key" v-for="(value,key) in allData[0+','+pro]" :key="key">{{value}}</option>
            </select>
        </p>
        <p> 区:
            <select>
                <option :value="key" v-for="(value,key) in allData[0+','+pro+','+city]" :key="key">{{value}}</option>
            </select>
        </p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/data.js"></script>
    <script>
        // watch: 
        // 观察data中的属性的变化 然后进行相应的操作
        new Vue({
            el: '#app',
            data: {
                allData: data,
                pro: '', //省的id
                city: '', //市的id
            },
            created: function() {
                this.pro = '110000';
                this.city = '110100';
            },
            // 观察属性
            watch: {
                // 对象名 是对应的data里面的属性名
                // 对象值 属性发生变化时调用的方法
                // val 是改变后的值
                pro: function(val) {
                    let id = this.allData[0 + ',' + val];
                    for (let k in id) {
                        id = k;
                        break;
                    }
                    this.city = id;
                }
            }
        });
    </script>
</body>

</html>