<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <input type="text" v-model="add1" @keyup.enter="keyup1">
        <select name="" id="" v-model="select">
            <option>+</option>
            <option>-</option>
            <option>*</option>
            <option>/</option>
        </select>
        <input type="text" class="input" v-model="add2" @keyup.enter="keyup2" :autofocus="autofocus">
        <button @click="sum">=</button>
        <span v-text="sum1"></span>
    </div>

    <br>
    <div style="color: red;">
        <ol>
            <li>在用vue框架时,不要再自己主动获取dom元素</li>
        </ol>
    </div>

    <script>
        var v = new Vue({
            el: '#app',
            data: {
                add1: '',
                add2: '',
                select: '+',
                sum1: null,
                autofocus: false,
            },
            methods: {
                sum: function () {
                    if (this.select == '+') {
                        this.sum1 = parseInt(this.add1) + parseInt(this.add2);
                    } else if (this.select == '-') {
                        this.sum1 = parseInt(this.add1) - parseInt(this.add2);
                    } else if (this.select == '*') {
                        this.sum1 = parseInt(this.add1) * parseInt(this.add2);
                    } else {
                        this.sum1 = parseInt(this.add1) / parseInt(this.add2);
                    }
                },
                keyup1: function (e) {
                    console.log(this.autofocus);
                    // document.querySelector('.input').focus();
                    this.autofocus = true;
                },
                keyup2: function () {
                    this.sum();
                }
            }
        });
    </script>
</body>

</html>