<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="js/vue.js"></script>
</head>

<body>
    <div id="box">
        <h1>实现简单的计算器功能</h1>
        <input type="text" v-model="num1" @keyup.enter.space="count" ref="input2">
        <select v-model="symboD" @change="pitch($event)">
            <option v-for="(item,index) in symbolList" :key="index" :value=item.symbo>{{item.symbo}}</option>
        </select>
        <input type="text" @keyup.enter.space="numSum" v-model="num2" ref="input">
        <button @click="numSum">=</button>
        <span v-text="sum"></span>
    </div>
    <script>
        new Vue({
            el: '#box',
            data: {
                symbolList: [{
                    symbo: '+'
                }, {
                    symbo: '-'
                }, {
                    symbo: '*'
                }, {
                    symbo: '/'
                }],
                symboD: '+',
                num1: null,
                num2: null,
                sum: null
            },
            methods: {
                count: function() {
                    if (this.num1 != null) {
                        this.$refs['input'].focus();
                    } else {
                        this.$refs['input2'].focus();
                    }
                },
                pitch: function(event) {
                    this.symboD = event.target.value;
                },
                numSum: function() {
                    if (this.symboD == '+') {
                        this.sum = parseInt(this.num1) + parseInt(this.num2);
                    } else if (this.symboD == '-') {
                        this.sum = this.num1 - this.num2;
                    } else if (this.symboD == '*') {
                        this.sum = this.num1 * this.num2;
                    } else if (this.symboD == '/') {
                        this.sum = this.num1 / this.num2;
                    }
                }
            },
            computed: {

            }
        })
    </script>
</body>

</html>