<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <input type="text" v-model="num1">
        <select name="" id="" ref="calculate">
            <option  value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select>

        <input type="text" v-model="num2" @keyup.enter="keyup">
        <button @click="calc">=</button>
        <span v-text="result"></span>
    </div>
    <script src="js/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                num1: 0,
                num2: 0,
                result: null
            },
            methods: {
                calc: function() {
                    if (this.$refs.calculate.value == '+') {
                        this.result = parseInt(this.num1) + parseInt(this.num2);
                    }
                    if (this.$refs.calculate.value == '-') {
                        this.result = this.num1 - this.num2;
                    }
                    if (this.$refs.calculate.value == '*') {
                        this.result = this.num1 * this.num2;
                    }
                    if (this.$refs.calculate.value == '/') {
                        this.result = this.num1 / this.num2;
                    }
                },
                keyup: function() {
                    this.calc();
                }
            }
        })
    </script>
</body>

</html>