<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            padding: 0;
            margin: 0;
        }

        li {
            list-style: none;
        }

        ul {
            display: flex;
            width: 600px;
            height: 50px;
            border: 1px solid red;
        }

        .active {
            background: red;
        }

        li {
            width: 200px;
            height: 50px;
            text-align: center;
            line-height: 50px;
        }
    </style>
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <div id="app">
        <ul>
            <li v-on:click='change(index)' :class='subscript==index?"active":""' :key='item.id' v-for='(item,index) in list'>{{item.name}}</li>
        </ul>
        <div v-show="subscript==index" :key='item.id' v-for='(item, index) in list'>
            <img :src="item.img">
        </div>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                subscript: 0, 
                list: [{
                    id: 1,
                    img: 'img/1.jpg',
                    name: 'money1',
                }, {
                    id: 2,
                    img: 'img/2.jpg',
                    name: 'money2',
                }, {
                    id: 3,
                    img: 'img/3.jpg',
                    name: 'eat',
                }]
            },
            methods: {
                change: function (index) {
                    this.subscript = index;
                }
            }
        })
    </script>
</body>

</html>