<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <div>methods：</div>
        <input type="text" v-model="methods.num1">
        <select v-model="methods.select">
            <option>+</option>
            <option>-</option>
            <option>*</option>
            <option>/</option>
        </select>
        <input type="text" v-model="methods.num2">
        <button @click="calculate">=</button>
        <span v-text="methods.resultMethods"></span>
        <br>
        <br>

        <div>computed：</div>
        <input type="text" v-model="computed.num1">
        <select v-model="computed.select">
            <option>+</option>
            <option>-</option>
            <option>*</option>
            <option>/</option>
        </select>
        <input type="text" v-model="computed.num2">
        <button @click="computed.resultComputed=sum">=</button>
        <span v-text="computed.resultComputed"></span>
        <br>
        <br>

        <div>watch：</div>
        <input type="text" v-model="watch.num1">
        <select v-model="watch.select">
            <option>+</option>
            <option>-</option>
            <option>*</option>
            <option>/</option>
        </select>
        <input type="text" v-model="watch.num2">
        <button @click="watch.resultWatch=result">=</button>
        <span v-text="watch.resultWatch"></span>
    </div>

    <br>
    <divs style="color:red">
        <ol>
            <li>没有实现computed和watch的自动改变结果的功能</li>
        </ol>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                methods: {
                    num1: null,
                    num2: null,
                    select: '+',
                    resultMethods: ''
                },
                computed: {
                    num1: null,
                    num2: null,
                    select: '+',
                    resultComputed: ''
                },
                watch: {
                    num1: null,
                    num2: null,
                    select: '+',
                    resultWatch: ''
                },
                result: ''
            },
            methods: {
                calculate: function () {
                    let select = this.methods.select;
                    let num1 = parseInt(this.methods.num1);
                    let num2 = parseInt(this.methods.num2);
                    let resultMethods = this.methods.resultMethods;
                    switch (select) {
                        case '+':
                            resultMethods = num1 + num2;
                            break;
                        case '-':
                            resultMethods = num1 - num2;
                            break;
                        case '*':
                            resultMethods = num1 * num2;
                            break;
                        case '/':
                            resultMethods = num1 / num2;
                            break;
                    }
                    this.methods.resultMethods = resultMethods;
                }
            },
            computed: {
                sum: function () {
                    let select = this.computed.select;
                    let num1 = parseInt(this.computed.num1);
                    let num2 = parseInt(this.computed.num2);
                    let resultComputed = 0;
                    switch (select) {
                        case '+':
                            resultComputed = num1 + num2;
                            break;
                        case '-':
                            resultComputed = num1 - num2;
                            break;
                        case '*':
                            resultComputed = num1 * num2;
                            break;
                        case '/':
                            resultComputed = num1 / num2;
                            break;
                    }
                    return resultComputed;
                }
            },
            watch: {
                watch: {
                    handler: function (val) {
                        let select = val.select;
                        let num1 = parseInt(val.num1);
                        let num2 = parseInt(val.num2);
                        let resultWatch = this.result;
                        switch (select) {
                            case '+':
                                resultWatch = num1 + num2;
                                break;
                            case '-':
                                resultWatch = num1 - num2;
                                break;
                            case '*':
                                resultWatch = num1 * num2;
                                break;
                            case '/':
                                resultWatch = num1 / num2;
                                break;
                        }
                        this.result = resultWatch;
                    },
                    deep: true
                }
            }
        })
    </script>
</body>

</html>