<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <p>文本框：<input type="text" v-model="userName"></p>
        <p>密码框：<input type="password" v-model="password"></p>
        <p>
            <!-- v-model 本质上是绑定了value的值 -->
            单选框:
            <input type="radio" name="a" v-model="userSix" value="1">男
            <input type="radio" name="a" v-model="userSix" value="0">女
        </p>
        <p>
            多选框：
            <input type="checkbox" value="学生" v-model="checkboxs">学生
            <input type="checkbox" value="老师" v-model="checkboxs">老师
            <input type="checkbox" value="助教" v-model="checkboxs">助教
        </p>
        <p>
            <!-- select 如果没有声明value的值 那么就会直接获取文本信息 -->
            下拉框：
            <select name="" id="" v-model="select">
                <option>选项一</option>
                <option value="选项二">选项二</option>
                <option value="选项三">选项三</option>
            </select>
        </p>
        <p>
            <!-- accept="image/*" 限制上传文件只能上传图片 -->
            上传文件：
            <input type="file" v-on:change="onChangeInputFlie($event)" accept="image/*">
        </p>
        <p>
            富文本框：
            <textarea v-model="textarea"></textarea>
        </p>
        <p>
            <button @click="onClickSubmit">提交</button>
            <button>清空</button>
        </p>
        <img :src="imgSrc" alt="">
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
        new Vue({
            el: '#app',
            data: {
                // 文本框
                userName: '',
                // 密码框
                password: '',
                // 单选框
                userSix: '',
                // 多选框
                checkboxs: [],
                // 下拉框
                select: '',
                // 上传文件
                file: null,
                // 富文本
                textarea: '',
                // 图片路径
                imgSrc: '',
            },
            methods: {
                // 实现动态获取用户上传的文件
                onChangeInputFlie: function(e) {
                    this.file = e.target.files[0];

                    var reader = new FileReader();
                    reader.readAsDataURL(this.file);

                    let that = this;
                    //监听文件读取结束后事件    
                    reader.onloadend = function(e) {
                        that.imgSrc = e.target.result;
                    };
                },
                onClickSubmit: function() {
                    console.log('姓名：', this.userName);
                    console.log('密码：', this.password);
                    console.log('性别：', this.userSix);
                    console.log('职业：', this.checkboxs);
                    console.log('下拉：', this.select);
                    console.log('文件：', this.file);
                    console.log('富文本框：', this.textarea);
                }
            }
        })
    </script>
</body>

</html>