<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        省：<select name="" id="" v-model="proId">
            <option :value="key" v-for="(value,key) in proList" :key="key">{{key}}</option>
        </select> 市

        <select name="" id="" v-model="cityId">
            <option :value="key" v-for="(value,key) in cityList" :key="key">{{key}}</option>
        </select> 区：

        <select name="" id="" v-model="areaId">
            <option :value="key" v-for="(value,key) in areaList" :key="key">{{value}}</option>
        </select>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./data3.js"></script>

    <script>
        new Vue({
            el: '#app',
            data: {
                // 前面的是vue的数据 后面的 window下面的
                data3: window.data3,

                // 省的数据
                proId: null,
                proList: [],
                // 市的数据
                cityId: null,
                cityList: [],
                // 区的数据
                areaId: null,
                areaList: [],
            },
            created: function() {
                // 初始化
                console.log(this.data3);

                this.proList = this.data3;
                for (let key in this.proList) {
                    this.proId = key;
                    break;
                }

                this.cityList = this.data3[this.proId];
                for (let key in this.cityList) {
                    this.cityId = key;
                    break;
                }

                this.areaList = this.data3[this.proId][this.cityId];
                this.areaId = 0;
            },
            watch: {
                // 观察proId的变化 然后改变后面两级的内容
                proId: function() {
                    this.cityList = this.data3[this.proId];
                    for (let key in this.cityList) {
                        this.cityId = key;
                        break;
                    }

                    this.areaList = this.data3[this.proId][this.cityId];
                    this.areaId = 0;
                },
                cityId: function() {
                    this.areaList = this.data3[this.proId][this.cityId];
                    this.areaId = 0;
                }
            }
        })
    </script>
</body>

</html>