<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="../data.js"></script>
</head>

<body>
    <div id="app">
        <p>methods:</p>
        <select name="省" id="" @change="onChange"  v-model="city">
            <option v-for="(k,i) in datas[province]" :value="i" :key="i">{{k}}</option>
        </select>
        <select name="市" id=""  v-model="area">
            <option v-for="(k,i) in datas[province +','+ city]" :value="i" :key="i">{{k}}</option>
        </select>
        <select name="区" id="" >
            <option v-for="(k,i) in datas[province +','+ city + ','+area]" :value="i" :key="i">{{k}}</option>
        </select>
    </div>
    <div id="app1">
        <p>watch:</p>
        <select name="省" id=""   v-model="city">
            <option v-for="(k,i) in datas[province]" :value="i" :key="i">{{k}}</option>
        </select>
        <select name="市" id=""  v-model="area">
            <option v-for="(k,i) in datas[province +','+ city]" :value="i" :key="i">{{k}}</option>
        </select>
        <select name="区" id="" >
            <option v-for="(k,i) in datas[province +','+ city + ','+area]" :value="i" :key="i">{{k}}</option>
        </select>
    </div>
    <div id="app2">
        <p>computed:</p>
        <select name="省" id=""   @change="area=pro" v-model="city">
            <option v-for="(k,i) in datas[province]" :value="i" :key="i">{{k}}</option>
        </select>
        <select name="市" id=""  v-model="area">
            <option v-for="(k,i) in datas[province +','+ city]" :value="i" :key="i">{{k}}</option>
        </select>
        <select name="区" id="" >
            <option v-for="(k,i) in datas[province +','+ city + ','+area]" :value="i" :key="i">{{k}}</option>
        </select>
    </div>
    <script>
        new Vue({
            el:'#app',
            data:{
                // 省
                province:'0',
                // 市
                city:'110000',
                // 区
                area:'110100',
                // 数据
                datas:data,
            },
            methods:{
                onChange:function(e){
                    
                    let value=e.target.value;
                    let id;
                    let cityList =this.datas[0 +','+value];

                    console.log(Object.keys(cityList)[0]);
                    id=Object.keys(cityList)[0];
                    this.area=id;
                }
            }
        })

        new Vue({
            el:'#app1',
            data:{
                // 省
                province:'0',
                // 市
                city:'110000',
                // 区
                area:'110100',
                // 数据
                datas:data,
            },
            watch:{
                city:function(v){
                    this.area= Object.keys(this.datas[0+','+v])[0]
                }
            }
        })
        new Vue({
            el:'#app2',
            data:{
                // 省
                province:'0',
                // 市
                city:'110000',
                // 区
                area:'110100',
                // 数据
                datas:data,
            },
            computed:{
                pro:function(){
                    console.log(Object.values(this.datas[0]));
                   return this.area= Object.keys(this.datas[0+','+this.city])[0]
                }
            }
        })
    </script>
</body>

</html>