<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="js/data.js"></script>
    <script src="js/vue.js"></script>
</head>

<body>
    <div id="box">
        <select @change="getPro($event)" v-model='proIndex'>
            <option v-for="(item,key) in datas[0]" :value="key" :key="key">{{item}}</option>
        </select>
        <select @change="getCity($event)" v-model='cityIndex'>
            <option v-for="(item,key) in datas[0+','+proIndex]" :value="key" :key="key">{{item}}</option>
        </select>
        <select>
            <option v-for="(item,key) in datas[0+','+proIndex+','+cityIndex]" :value="key" :key="key">{{item}}</option>
        </select>
    </div>
    <script>
        new Vue({
            el: '#box',
            data: {
                proIndex: '',
                cityIndex: '',
                datas: data,
            },
            created: function() {
                this.proIndex = '110000';
                this.cityIndex = '110100';
            },
            methods: {
                getPro: function(e) {
                    var value = e.target.value;
                    var id;
                    var cityList = this.datas[0 + ',' + value];
                    for (var k in cityList) {
                        id = k;
                        break;
                    }
                    this.cityIndex = id;
                }
            },

        })
    </script>
</body>

</html>