<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../layer-v3.1.1/layer/jquery.min.js"></script>
    <script src="../layer-v3.1.1/layer/layer.js"></script>
</head>

<body>
    <div id="login">
        <p> 账户 <input type="text" v-model='userName'> </p>
        <p> 密码 <input type="password" v-model='passWord'> </p>
        <button @click="onClick">登录</button>
    </div>
    <br>
    <div style="color:green;">优+</div><br>
    <div style="color:red">不过还是有报错 地址错了</div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#login',
            data: {
                //账户
                userName: '',
                //密码
                passWord: '',
                num: 'admin'
            },
            methods: {
                onClick: function() {
                    if (this.userName != this.num && this.passWord != this.num) {
                        layer.msg('账户或密码错误');
                    } else if (this.userName != this.num) {
                        layer.msg('账号错误');
                    } else if (this.passWord != this.num) {
                        layer.msg('密码错误');
                    } else if (this.userName == this.num && this.passWord == this.num) {
                        layer.msg('登录成功');
                    }

                }
            }
        })
    </script>
</body>

</html>