<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <h1>实现简单的计算器功能</h1>
        <ol>
            <li>用vue框架实现一下功能</li>
            <li>计算两个输入框中的值的结果</li>
            <li>通过切换按钮实现加减乘除运算</li>
            <li>输入完第一个值时,按回车键自动切换到第二个参数</li>
            <li>输入完第二个值时,按回车键直接显示当前的计算结果</li>
        </ol>
        <input type="text" v-model='num1' @keyup.enter.space="one">
        <select v-model='way'>
            <option value='+'>+</option>
            <option value='-'>-</option>
            <option value='*'>*</option>
            <option value='/'>/</option>
        </select>
        <input type="text" v-model='num2' @keyup.enter.space="two" ref="jjd">
        <button @click="equal">=</button>
        <span v-text="result"></span>
    </div>

    

    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                num1: 0,
                num2: 0,
                way: '+',
                result: 0,
            },
            methods: {
                equal: function () {
                    if (this.way == '+') {
                        this.result = parseInt(this.num1) + parseInt(this.num2);
                    } else if (this.way == '-') {
                        this.result = this.num1 - this.num2;
                    } else if (this.way == '*') {
                        this.result = this.num1 * this.num2;
                    } else if (this.way == '/') {
                        this.result = this.num1 / this.num2;
                    }
                },
                one: function () {
                    this.two();
                },
                two: function () {
                    this.$refs.jjd.focus();
                    this.equal();
                }

            }
        });
    </script>
</body>

</html>