<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="app">
        省：<select @chgean="onChangePro($event)">
            <option value="" v-for="(value,index) in province" :key="index"></option></select> 市：
        <select @chgean=""><option value="" v-for="(value,index) in citydata" :key="index"></option></select> 区：
        <select @chgean=""><option value="" v-for="(value,index) in district" :key="index"></option></select>
    </div>
    <script>
        axios.defaults.baseURL = 'http://210.22.120.218:8605/web';
        axios.interceptors.response.use(function(json) {
            return
        })
        new Vue({
            el: '#app',
            data: {
                province: [],
                citydata: [],
                district: [],
                provinceId: 0,
                cityId: 0,
                areaId: 0,
            },
            methods: {
                onClickprovince: async function() {
                    await axios.get('/region/countryList/?')
                }
            },
        })
    </script>
</body>

</html>