<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        ul {
            width: 310px;
            height: 30px;
            line-height: 30px;
            text-align: center;
        }
        
        li {
            float: left;
            width: 100px;
            list-style: none;
            border: 1px solid #000;
            border-left: none;
        }
        
        li:first-child {
            border-left: 1px solid #000;
        }
    </style>
</head>

<body>
    <div id="app">
        <ul>
            <li v-for="value in tabTitle" :key="value.id" @click="tabEvent(value.id)">{{value.title}}</li>
        </ul>
        <div class="imgs">
            <img v-for="value in tabTitle" :src="value.src" v-show="num==value.id">
        </div>
    </div>
    <br>
    <div style="color: red;">
        <ol>
            <li>选中高亮的效果没有做</li>
        </ol>
    </div>
    <script src="js/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                tabTitle: [{
                    id: 1,
                    title: '第一张',
                    src: 'img/1.png'
                }, {
                    id: 2,
                    title: '第二张',
                    src: 'img/2.png'
                }, {
                    id: 3,
                    title: '第三张',
                    src: 'img/3.png'
                }],
                num: 1
            },
            methods: {
                tabEvent: function(id) {
                    this.num = id;
                }
            }
        })
    </script>
</body>

</html>