<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <p>watch：</p>
        <input type="text" v-model="datas.val1">
        <select v-model="datas.fuhao">
            <option>+</option>
            <option>-</option>
            <option>*</option>
            <option>/</option>
        </select>
        <input type="text" v-model="datas.val2">
        <button @click="sums">=</button>
        <span>{{sum}}</span>
    </div>
    <br>
    <div style="color: red;">
        <ol>
            <li>computed 和 watch 模式应该直接不点等于号就显示答案</li>
        </ol>
    </div>
    <script src="vue.js"></script>
    <script>
        new Vue({
            el: "#app",
            data: {
                datas: {
                    val1: null,
                    fuhao: "+",
                    val2: null,
                    sum: null,
                },
                sum: null,
            },
            methods: {
                sums: function () {
                    this.sum = this.datas.sum;
                }
            },
            watch: {
                datas: {
                    handler(value) {
                        if (this.datas.fuhao == "+") {
                            this.datas.sum = parseInt(this.datas.val1) + parseInt(this.datas.val2);
                        }
                        if (this.datas.fuhao == "-") {
                            this.datas.sum = parseInt(this.datas.val1) - parseInt(this.datas.val2);
                        }
                        if (this.datas.fuhao == "*") {
                            this.datas.sum = parseInt(this.datas.val1) * parseInt(this.datas.val2);
                        }
                        if (this.datas.fuhao == "/") {
                            this.datas.sum = parseInt(this.datas.val1) / parseInt(this.datas.val2);
                        }
                    },
                    deep: true,
                }
            }
        })
    </script>
</body>

</html>