<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <input type="text" v-model="inputOneVal" v-on:keyup.enter="foucsOne">
        <select name="" id="" v-model="suan">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select>
        <input type="text" class="ipt2" v-on:keyup.enter="foucsTwo" v-model="inputTwoVal">
        <div style="display: inline-block;">{{end}}</div>
    </div>

    <br>
    <div style="color: red;">
        <ol>
            <li>在用vue框架时,不要再自己主动获取dom元素</li>
            <li>还有一个等于的按钮没做</li>
        </ol>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el: "#app",
            data: {
                inputOneVal: "",
                suan: "+",
                inputTwoVal: "",
                end: ""
            },
            methods: {
                //按回车第二个input聚焦
                foucsOne: function () {
                    document.querySelector(".ipt2").focus();
                },
                foucsTwo: function () {
                    document.querySelector(".ipt2").blur();
                    if (this.suan == "+") {
                        this.end = parseInt(this.inputOneVal) + parseInt(this.inputTwoVal);
                    }
                    if (this.suan == "-") {
                        this.end = parseInt(this.inputOneVal) - parseInt(this.inputTwoVal);
                    }
                    if (this.suan == "*") {
                        this.end = parseInt(this.inputOneVal) * parseInt(this.inputTwoVal);
                    }
                    if (this.suan == "/") {
                        this.end = parseInt(this.inputOneVal) / parseInt(this.inputTwoVal);
                    }
                }
            }
        })
    </script>
</body>

</html>