<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <input type="text" v-model="num1">
        <select name="" id="" v-model="select">
            <option>+</option>
            <option>-</option>
            <option>*</option>
            <option>/</option>
            <input type="text" v-model="num2">
            <button @click="sum">=</button>
            <span v-text="sums"></span>
        </select>
    </div>

    <br>
    <div style="color: red;">
        <ol>
            <li>还有两个键盘事件没有做</li>
        </ol>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                num1: 0,
                num2: 0,
                select: '+',
                sums: 0
            },
            methods: {
                sum: function () {
                    if (this.select == '+') {
                        this.sums = parseInt(this.num1) + parseInt(this.num2)
                    } else if (this.select == '-') {
                        this.sums = parseInt(this.num1) - parseInt(this.num2)
                    } else if (this.select == '*') {
                        this.sums = parseInt(this.num1) * parseInt(this.num2)
                    } else if (this.select == '/') {
                        this.sums = parseInt(this.num1) / parseInt(this.num2)
                    }
                }
            }
        })
    </script>
</body>

</html>