<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <section id="todoapp" class="todoapp">
        <my-div></my-div>
    </section>
    <script>
        var hub = new Vue();
        Vue.component('my-div', {
            template: ` <div>
                            <my-header></my-header>
                            <my-section></my-section>
                            <my-footer></my-footer>
                        </div>`,
        });
        Vue.component('my-header', {
            data() {
                return {
                    list: {},
                    title: ''
                }
            },
            template: ` <header class="header">
                            <h1>todos</h1>
                            <input placeholder="What needs to be done?" class="new-todo" v-model="title" @keyup.enter="onKeyupEnter">
                        </header>`,
            methods: {
                onKeyupEnter: function () {
                    if (this.title.trim() != '') {
                        this.list.id = +new Date();
                        this.list.title = this.title;
                        this.list.completed = false;
                        hub.$emit('add-list', this.list);
                        this.title = '';
                    }
                }
            },
        });
        Vue.component('my-section', {
            template: ` <section class="main">
                            <input class="toggle-all" id="toggle-all" type="checkbox" :checked="checkAll" @click="onClickCheckAll">
                            <label for="toggle-all">Mark all as complete</label>
                            <ul class="todo-list">
                                <li v-for="(v,i) in todos" :class="{completed:v.completed,editing: v.id === dblclick.id}" v-show="v.completed!=show">
                                    <div class="view">
                                        <input type="checkbox" class="toggle" :checked="v.completed" v-model="v.completed" @click="onClickChecked(i)">
                                        <label @dblclick="onDblclickInputShow(v)">{{v.title}}</label>
                                        <button class="destroy" @click="onClickRemove(v)"></button>
                                    </div>
                                    <input class="edit" v-model="dblclick.title" @keydown.esc="dblclick={}" v-focus="dblclick.id" :data-id="v.id" @blur="dblclick={}" @keyup.enter="onKeyupEnterAment(v)">
                                </li>
                            </ul>
                        </section>`,
            data() {
                return {
                    todos: [{
                        id: 1,
                        title: '吃饭',
                        completed: false
                    }, {
                        id: 2,
                        title: '睡觉',
                        completed: false
                    }, {
                        id: 3,
                        title: '打豆豆',
                        completed: true
                    }],
                    checkAll: false,
                    show: 123,
                    dblclick: ''
                }
            },
            methods: {
                onClickCheckAll: function () {
                    this.checkAll = !this.checkAll;
                    this.todos.forEach(v => {
                        v.completed = this.checkAll;
                    });
                },
                onClickChecked: function (i) {
                    this.todos[i].completed = !this.todos[i].completed;
                    let flag = true;
                    this.todos.forEach(v => {
                        if (!v.completed) {
                            flag = false;
                            return;
                        }
                    });
                    this.checkAll = flag;
                },
                onClickRemove: function (v) {
                    if (v) {
                        let index = this.todos.indexOf(v);
                        this.todos.splice(v, 1);
                    }
                },
                onDblclickInputShow: function (v) {
                    this.dblclick = {};
                    if (v) {
                        for (k in v) {
                            this.dblclick[k] = v[k];
                        }
                    }
                },
                onKeyupEnterAment: function (v) {
                    if (v) {
                        let index = this.todos.indexOf(v);
                        this.todos[index] = this.dblclick;
                        this.dblclick = {};
                    }
                }
            },
            //自定义指令
            directives: {
                'focus': {
                    //当对象发生改变是触发
                    update: function (el, binding) {
                        ///触发指令时的值
                        let curValue = binding.value;
                        //input标签的唯一标识
                        //getAttribute 获取标签的属性值
                        let inputValue = el.getAttribute('data-id');
                        //判断改变的对象和要改变的对象是否相等
                        if (curValue == inputValue) {
                            //聚焦到要显示的对象上
                            el.focus();
                        }
                    }
                }
            },
            created() {
                hub.$on('add-list', v => { //添加数据
                    this.todos.push(v);
                });
                hub.$on('clear-completed', item => { //选中的删除
                    let data = this.todos.filter(v => v.completed == false);
                    console.log(data);
                    this.todos = data;
                });
                hub.$on('completed', item => { //选中的显示
                    this.show = !item;
                });
                hub.$on('active', item => { //未选中的显示
                    this.show = item;
                });
                hub.$on('all', item => { //全部显示
                    this.show = item;
                });
            },
            beforeUpdate() {
                hub.$emit('sum-list', this.todos); //计算还剩多少未完成
            },
            mounted() {
                hub.$emit('sum-list', this.todos); //计算还剩多少未完成初始化
            },
        });
        Vue.component('my-footer', {
            template: ` <footer class="footer">
                            <span class="todo-count"><strong>{{sum}}</strong> item left</span>
                            <ul class="filters">
                                <li><a href="#/" class="selected" @click="onClickAll">All</a></li>
                                <li><a href="#/active" class="" @click="onClickActive">Active</a></li>
                                <li><a href="#/completed" class="" @click="onClickComleted">Completed</a></li>
                            </ul> <button class="clear-completed" @click="onClickClearComleted">Clear completed</button>
                        </footer>`,
            data() {
                return {
                    sum: 0
                }
            },
            methods: {
                onClickClearComleted: function () {
                    hub.$emit('clear-completed', true); //选中的清除
                },
                onClickComleted: function () { //选中的显示
                    hub.$emit('completed', true);
                },
                onClickActive: function () {
                    hub.$emit('active', true);
                },
                onClickAll: function () {
                    hub.$emit('all', 123);
                }
            },
            created() {
                hub.$on('sum-list', v => { //还剩多少未完成
                    let sum = 0;
                    v.forEach(v => {
                        if (!v.completed) {
                            sum++;
                        }
                    });
                    this.sum = sum;
                });
            },
        });
        var todoapp = new Vue({
            el: '#todoapp',
            data: {

            }
        });
    </script>
</body>

</html>