<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <h2>data2</h2>
    <div class="app1">
        <p>methods:</p>
        <select name="省" id="" v-model="pro" @change="change">
            <option v-for="(k,i) in datas" :value="i" :key="i">{{k.name}}</option>
        </select>
        <select name="市" id="" v-model="cit">
            <option v-for="(k,i) in cityList" :value="i" :key="i">{{k.name}}</option>
        </select>
        <select name="区" id="">
            <option v-for="(k,i) in cityList[cit].area" :value="i" :key="i">{{k}}</option>
        </select>
    </div>

    <div class="app2">
        <p>computed:</p>
        <select name="省" id="" v-model="pro">
            <option v-for="(k,i) in datas" :value="i" :key="i">{{k.name}}</option>
        </select>
        <select name="市" id="" v-model="cit">
            <option v-for="(k,i) in dataList" :value="i" :key="i">{{k.name}}</option>
        </select>
        <select name="区" id="">
            <option v-for="(k,i) in dataList[cit].area" :value="i" :key="i">{{k}}</option>
        </select>
    </div>

    <div class="app3">
        <p>watch:</p>
        <select name="省" id="" v-model="pro">
            <option v-for="(k,i) in datas" :value="i" :key="i">{{k.name}}</option>
        </select>
        <select name="市" id="" v-model="cit">
            <option v-for="(k,i) in cityList" :value="i" :key="i">{{k.name}}</option>
        </select>
        <select name="区" id="">
            <option v-for="(k,i) in cityList[cit].area" :value="i" :key="i">{{k}}</option>
        </select>
    </div>

    <h2>data3</h2>
    <div class="app4">
        <p>methods:</p>
        <select name="省" id="" v-model="pro" @change="change">
            <option v-for="(k,i) in datas" :value="i" :key="i">{{i}}</option>
        </select>
        <select name="市" id="" v-model="city">
            <option v-for="(k,i) in dataList" :value="i" :key="i">{{i}}</option>
        </select>
        <select name="区" id="">
            <option v-for="(k,i) in dataList[city]" :value="i" :key="i">{{k}}</option>
        </select>
    </div>
    <div class="app5">
        <p>computed:</p>
        <select name="省" id="" v-model="pro">
            <option v-for="(k,i) in datas" :value="i" :key="i">{{i}}</option>
        </select>
        <select name="市" id="" v-model="city">
            <option v-for="(k,i) in dataList" :value="i" :key="i">{{i}}</option>
        </select>
        <select name="区" id="">
            <option v-for="(k,i) in dataList[city]" :value="i" :key="i">{{k}}</option>
        </select>
    </div>
    <div class="app6">
        <p>watch:</p>
        <select name="省" id="" v-model="pro">
            <option v-for="(k,i) in datas" :value="i" :key="i">{{i}}</option>
        </select>
        <select name="市" id="" v-model="city">
            <option v-for="(k,i) in dataList" :value="i" :key="i">{{i}}</option>
        </select>
        <select name="区" id="">
            <option v-for="(k,i) in dataList[city]" :value="i" :key="i">{{k}}</option>
        </select>
    </div>
    <script src="../data2.js"></script>
    <script src="../data3.js"></script>

    <script>
        // console.log(data2);
        // console.log(data3);
        var app1 = new Vue({
            el: '.app1',
            data: {
                datas: data2,
                pro: 0,
                cit: 0,
                cityList: null
            },
            methods: {
                change: function() {
                    this.cit = 0;
                    this.cityList = this.datas[this.pro].city;
                }
            },
            beforeMount: function() {
                this.cityList = this.datas[this.pro].city;
            }
        });
        var app2 = new Vue({
            el: '.app2',
            data: {
                datas: data2,
                pro: 0,
                cit: 0
            },
            computed: {
                dataList: function() {
                    this.cit = 0;
                    return this.datas[this.pro].city;
                }
            }
        });
        var app3 = new Vue({
            el: '.app3',
            data: {
                datas: data2,
                pro: 0,
                cit: 0,
                cityList: null
            },
            watch: {
                pro: function() {
                    this.cit = 0;
                    this.cityList = this.datas[this.pro].city;
                }
            },
            beforeMount: function() {
                this.cityList = this.datas[this.pro].city;
            }
        });
        var app4 = new Vue({
            el: '.app4',
            data: {
                datas: data3,
                pro: '北京市',
                city: '市辖区',
                dataList: null
            },
            methods: {
                change: function() {
                    this.dataList = this.datas[this.pro];
                    for (var k in this.datas[this.pro]) {
                        this.city = k;
                        break;
                    }
                    console.log(this.city);
                }
            },
            beforeMount: function() {
                this.dataList = this.datas[this.pro];
            }
        });
        var app5 = new Vue({
            el: '.app5',
            data: {
                datas: data3,
                pro: '北京市',
                city: '市辖区'
            },
            computed: {
                dataList: function() {
                    for (var k in this.datas[this.pro]) {
                        this.city = k;
                        break;
                    }
                    return this.datas[this.pro];

                }
            }
        });
        var app6 = new Vue({
            el: '.app6',
            data: {
                datas: data3,
                pro: '北京市',
                city: '市辖区',
                dataList: null
            },
            watch: {
                pro: function() {
                    this.dataList = this.datas[this.pro];
                    for (var k in this.datas[this.pro]) {
                        this.city = k;
                        break;
                    }
                }
            },
            beforeMount: function() {
                this.dataList = this.datas[this.pro];
            }
        });
    </script>
</body>

</html>