<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .warp {
            width: 550px;
            margin: 0 auto;
        }

        h1 {
            text-align: center;
        }

        .top_box_1 {
            line-height: 30px;
            text-align: center;
            background-color: burlywood;
        }

        .top_box_2 {
            text-align: center;
            line-height: 30px;
            background-color: burlywood;
            border-top: 1px solid yellowgreen;
            border-bottom: 1px solid yellowgreen;
        }

        .table {
            width: 100%;
        }

        .table th {
            background-color: burlywood;
        }

        .table th,
        .table td {
            border: 1px dashed burlywood;
            text-align: center;
        }
    </style>
</head>

<body>
    <div id="app" class="warp">
        <h1>图书管理</h1>
        <div class="top_box_1">搜索: <input type="text" v-model="inputFind"> <button @click="onClickFind">查询</button>
        </div>
        <div class="top_box_1">
            编号: <input type="text" v-model="inputId" :disabled="submit!='提交'"> 名称: <input type="text"
                v-model="inputName">
            <button @click="onClickSubmit" :disabled="changeName?changeName==inputName:false">{{submit}}</button>
        </div>
        <div class="top_box_2">
            图书总数: {{list.length}}
        </div>
        <table cellpadding="0" cellspacing="0" class="table">
            <tr>
                <th>编号</th>
                <th>名称</th>
                <th>时间</th>
                <th>操作</th>
            </tr>
            <tbody>
                <tr v-for="(value,index) in list" :key="index">
                    <td>{{value.id}}</td>
                    <td>{{value.name}}</td>
                    <td>{{value.createTime|setFrameTime}}</td>
                    <td>
                        <a href="" @click.prevent="onClickChange(value)">修改</a> |
                        <a href="" @click.prevent="onClickRemove(index)">删除</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                list: [{
                    id: 1,
                    name: '三国演义',
                    createTime: '2050-01-12 22:35:39',
                }, {
                    id: 2,
                    name: '水浒传',
                    createTime: '2050-01-12 22:35:39',
                }, {
                    id: 3,
                    name: '红楼梦',
                    createTime: '2050-01-12 22:35:39',
                }, {
                    id: 4,
                    name: '西游记',
                    createTime: '2050-01-12 22:35:39',
                }],
                defaultList: [], //保存一份未筛选的数据
                inputId: '', //接收用户输入的编号
                inputName: '',
                submit: '提交', //接收用户输入的名称
                changeName: '', //要修改的图书的名称
                inputFind: ''
            },
            methods: {
                // 点击提交
                onClickSubmit: function () {
                    if (this.submit == '提交') {
                        // 接收用户提交内容时
                        // 一定要进行数据正确的判定
                        if (this.inputId && this.inputName) {
                            // 书籍编号必须为正整数才允许添加图书
                            // 将用户输入的值转换为数值
                            let num = Number(this.inputId);
                            if (num != NaN) {
                                // 向下取整
                                let num2 = Math.floor(num);

                                // 通过判断两个数是否相等,来判断数是否是整数
                                if (num == num2 && num >= 0) {
                                    // 如果相等 那么就是整数
                                } else {
                                    alert('编号必须为正整数');
                                    return
                                }
                            } else {
                                alert('编号必须为数值');
                                return;
                            }
                            // 判断用户输入的id是否重复
                            let arr = this.list.filter((val) => {
                                // 过滤的条件
                                return val.id == this.inputId;
                            });
                            // 如果有符合条件的数据
                            // 说明id重复
                            if (arr.length > 0) {
                                console.log(arr);
                                alert('书籍id已经存在');
                                return;
                            }
                            // 增加一本书的信息
                            this.list.push({
                                id: this.inputId,
                                name: this.inputName,
                                createTime: this.getFrameTime(),
                            });
                            this.inputId = '';
                            this.inputName = '';
                        } else {
                            alert('编号和名称不能为空');
                        }
                    } else {
                        // 修改内容
                        // 首先是根据图书编号 找到数据源中对应的数据下标
                        for (let i = 0; i < this.list.length; i++) {
                            if (this.inputId == this.list[i].id) {
                                // 判断图书编号是否相等
                                this.list[i].name = this.inputName;
                                this.inputId = '';
                                this.inputName = '';
                                this.changeName = '';
                                this.submit = '提交';
                                return;
                            }
                        }
                    }
                },
                // 获取当前时间的标准格式
                getFrameTime: function () {
                    let date = new Date();
                    let str = '';
                    str += date.getFullYear();
                    str += '-' + this.getFrameNum((date.getMonth() + 1));
                    str += '-' + this.getFrameNum(date.getDate());
                    str += ' ' + this.getFrameNum(date.getHours());
                    str += ':' + this.getFrameNum(date.getMinutes());
                    str += ':' + this.getFrameNum(date.getSeconds());
                    return str;
                },
                // 将小于10的数转换成两位数的字符串
                getFrameNum(num) {
                    if (num < 10) {
                        num = '0' + num;
                    }
                    return num;
                },
                // 点击删除回调方法
                onClickRemove(index) {
                    this.list.splice(index, 1);
                },
                // 点击修改回调方法
                onClickChange(value) {
                    this.inputId = value.id;
                    this.changeName = this.inputName = value.name;
                    // 改变提交按钮的文案
                    this.submit = '修改';
                },
                // 点击查询回调方法
                onClickFind: function () {
                    let that = this;
                    // 判断用户输入内容是否合法
                    if (this.inputFind) {
                        // 根据输入内容对数据进行筛选
                        // 用普通函数时 需要return 且需要注意this指向
                        // let arr = this.list.filter(function(val, index) {
                        //     return val.name.indexOf(that.inputFind) != -1;
                        // });

                        // 用箭头函数时 如果用了{} 那么就必须要return
                        // let arr = this.list.filter((val, index) => {
                        //     return val.name.indexOf(this.inputFind) != -1
                        // });
                        this.defaultList = this.list;
                        // 如果没有用{} 那么就不需要return
                        let arr = this.list.filter((val, index) => val.name.indexOf(this.inputFind) != -1);
                        this.list = arr;
                    } else {
                        // 当搜索栏为空时 则显示所有数据
                        this.list = this.defaultList;
                    }
                }
            },
            // 过滤器必须要return
            // 过滤器不能调用methods中的方法
            filters: {
                // 格式化时间
                setFrameTime: function (value) {
                    function getFrameNum(num) {
                        if (num < 10) {
                            num = '0' + num;
                        }
                        return num;
                    }
                    let date = new Date();
                    let str = '';
                    str += date.getFullYear();
                    str += '-' + getFrameNum((date.getMonth() + 1));
                    str += '-' + getFrameNum(date.getDate());
                    str += ' ' + getFrameNum(date.getHours());
                    str += ':' + getFrameNum(date.getMinutes());
                    str += ':' + getFrameNum(date.getSeconds());
                    return str;
                }

            },
            // 创建初始化
            created: function () {
                for (let i = 0; i < 100; i++) {
                    this.list.push({
                        id: 1,
                        name: '测试' + i,
                        createTime: this.getFrameTime(),
                    });
                }
            },
            // 数据变化之前
            beforeUpdate: function () {
                // 推荐放一些全局的要变化的东西
                // 这里主要进行判定的是数据的变化
                // 是当数据变化后 视图还未变化时 对数据进行验证操作 确保数据正确后再渲染到页面上
            }
        });
    </script>
</body>

</html>