<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <input type="text" v-model="figure1" v-on:keyup.enter="board1">
        <select v-model="opt">
            <option value='+'>+</option>
            <option value='-'>-</option>
            <option value='*'>*</option>
            <option value='/'>/</option>
        </select>
        <input type="text" v-model="figure2" class="bt1" v-on:keyup.enter="board2">=
        <span>{{ result }}</span>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                figure1: '',
                figure2: '',
                opt: '+',
                result: '',
            },
            methods: {
                board1: function() {
                    document.querySelector(".bt1").focus();
                },
                board2: function() {
                    if(this.opt == '+'){
                        this.result = parseInt(this.figure1) + parseInt(this.figure2);
                    }else if(this.opt == '-') {
                        this.result = parseInt(this.figure1) - parseInt(this.figure2);
                    }else if(this.opt == '*'){
                        this.result = parseInt(this.figure1) * parseInt(this.figure2);
                    }else {
                        this.result = parseInt(this.figure1) / parseInt(this.figure2);
                    }
                },

            }
        });
        
    </script>
</body>

</html>