<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="count">
        <div class="methods">
            <p>methods:</p>
            <input type="text" v-model="methodsMsg.num1">
            <select ref="methodsOperation">
                <option value="+">+</option>
                <option value="-">-</option>
                <option value="*">*</option>
                <option value="/">/</option>
            </select>
            <input type="text" v-model="methodsMsg.num2" @keyup.enter="onClickMethods">
            <button @click="onClickMethods">=</button>
            <span v-text="methodsMsg.sum"></span>
        </div>

        <div class="watch">
            <p>watch</p>
            <input type="text" v-model="watchMSg.num1">
            <select ref="wathcOperation">
                <option value="+">+</option>
                <option value="-">-</option>
                <option value="*">*</option>
                <option value="/">/</option>
            </select>
            <input type="text" v-model="watchMSg.num2">
            <button>=</button>
            <span v-text="watchMSg.sum"></span>
        </div>
        <div class="computed">
            <p>computed</p>
            <input type="text" v-model="computedMsg.num1">
            <select ref="computedOperation">
                <option value="+">+</option>
                <option value="-">-</option>
                <option value="*">*</option>
                <option value="/">/</option>
            </select>
            <input type="text" v-model="computedMsg.num2" @keyup.enter="onClickComputed">
            <button @click="onClickComputed">=</button>
            <span> {{computedMsg.sum}}</span>
        </div>
    </div>

    <br>
    <div style="color: red;">
        <ol>
            <li>computer 模式 并没有生效（没有实现改变前面三个变量时，自动变化结果）</li>
            <li>没有使用 comouted 里声明的 computedSum 变量</li>
        </ol>
    </div>

    <script>
        var vm = new Vue({
            el: "#count",
            data: {
                methodsMsg: {
                    num1: null,
                    num2: null,
                    sum: null,
                },
                watchMSg: {
                    num1: null,
                    num2: null,
                    sum: null,
                },
                computedMsg: {
                    num1: null,
                    num2: null,
                    sum: null,
                }
            },
            methods: {
                onClickMethods: function () {
                    if (this.$refs.methodsOperation.value == '+') {
                        this.methodsMsg.sum = parseInt(this.methodsMsg.num1) + parseInt(this.methodsMsg.num2);
                    } else if (this.$refs.methodsOperation.value == '-') {
                        this.methodsMsg.sum = this.methodsMsg.num1 - this.methodsMsg.num2;
                    } else if (this.$refs.methodsOperation.value == '*') {
                        this.methodsMsg.sum = this.methodsMsg.num1 * this.methodsMsg.num2;

                    } else {
                        this.methodsMsg.sum = this.methodsMsg.num1 / this.methodsMsg.num2;
                    }
                },
                onClickComputed: function () {
                    this.computedSum;
                }
            },
            watch: {
                watchMSg: {
                    handler: function (val) {
                        if (this.$refs.wathcOperation.value == '+') {
                            val.sum = parseInt(val.num1) + parseInt(val.num2);
                        } else if (this.$refs.wathcOperation.value == '-' && val.num1 != null && val.num2 != null) {
                            val.sum = val.num1 - val.num2;
                        } else if (this.$refs.wathcOperation.value == '*' && val.num1 != null && val.num2 != null) {
                            val.sum = val.num1 * val.num2;
                        } else {
                            if (val.num1 != null && val.num2 != null) {
                                val.sum = val.num1 / val.num2;
                            }

                        }
                    },
                    deep: true,
                }
            },
            computed: {
                computedSum: function () {

                    if (this.$refs.computedOperation.value == '+') {
                        return this.computedMsg.sum = parseInt(this.computedMsg.num1) + parseInt(this.computedMsg.num2);
                    } else if (this.$refs.computedOperation.value == '-') {
                        return this.computedMsg.sum = this.computedMsg.num1 - this.computedMsg.num2;
                    } else if (this.$refs.computedOperation.value == '*') {
                        return this.computedMsg.sum = this.computedMsg.num1 * this.computedMsg.num2;
                    } else {
                        return this.computedMsg.sum = this.computedMsg.num1 / this.computedMsg.num2;
                    }
                },
            },
        })
    </script>
</body>

</html>