<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="data2.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app1">
        <p>medthods:</p>
        <p>省：
            <select name="" id="" v-model="pro" @change="onChangePro($event)"> 
                <option :value="key" v-for="(val,key) in allData" :key="key">{{val.name}}</option>
        </select>
        </p>
        <p>市：
            <select name=" " id=" " v-model="citys">
                <option :value="key " v-for="(val,key) in allData[pro].city" :key="key">{{val.name}}</option>

                <!-- <option :value="key " v-for="(val,key) in allData[pro].city" :key="key">{{val.name}}</option> -->
            </select>
        </p>

        <p>区：
            <select name=" " id=" ">
                <option :value="key " v-for="(val,key) in allData[pro].city[citys].area" :key="key ">{{val}}</option>
            </select>
        </p>
    </div>

    <div id="app2">
        <p>computed:</p>
        <p>省：
            <select name="" id="" v-model="pro"> 
                <option :value="key" v-for="(val,key) in allData" :key="key">{{val.name}}</option>
        </select>
        </p>
        <p>市：
            <select name=" " id=" " v-model="citys">
                <option :value="key" v-for="(val,key) in cityList" :key="key">{{val.name}}</option>
            </select>
        </p>

        <p>区：
            <select name=" " id=" ">
                <option :value="key " v-for="(val,key) in cityList[citys].area" :key="key ">{{val}}</option>
            </select>
        </p>
    </div>
    <div id="app3">
        <p>watch:</p>
        <p>省：
            <select name="" id="" v-model="pro"> 
                <option :value="key" v-for="(val,key) in allData" :key="key">{{val.name}}</option>
        </select>
        </p>
        <p>市：
            <select name=" " id=" " v-model="citys">
                <option :value="key " v-for="(val,key) in allData[pro].city" :key="key">{{val.name}}</option>
            </select>
        </p>

        <p>区：
            <select name=" " id=" ">
                <option :value="key " v-for="(val,key) in allData[pro].city[citys].area" :key="key ">{{val}}</option>
            </select>
        </p>
    </div>

    <script>
        var app1 = new Vue({
            el: '#app1',
            data: {
                allData: data2,
                pro: 0, // 省的id
                citys: 0,
                cityList: null,
            },
            methods: {
                onChangePro: function(e) {
                    this.citys = 0;
                    // console.log(e.target.value);
                    let value = e.target.value;
                    // console.log(value);
                    var id;
                    let citylist = this.allData[value].city[this.citys].area;
                    // console.log(citylist);
                    for (var i = 0; i < citylist.length; i++) {
                        id = i;
                        console.log(i);
                        break;
                    }
                    this.citys = id;
                }
            }
        });

        var app2 = new Vue({
            el: '#app2',
            data: {
                allData: data2,
                pro: 0, // 省的id
                citys: 0,
            },
            computed: {
                cityList: function() {
                    this.citys = 0;
                    return this.allData[this.pro].city;
                }
            }
        });

        var app3 = new Vue({
            el: '#app3',
            data: {
                allData: data2,
                pro: 0, // 省的id
                citys: 0,
            },
            watch: {
                pro: function(value) {
                    this.citys = 0;
                }
            }
        });
    </script>
</body>

</html>