<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <section id="todoapp" class="todoapp">
        <todos></todos>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        axios.defaults.baseURL= 'http://localhost:3001/';
        Vue.component('todos', {
            template: `<div>
        <my-header @onEnterSubmit="onEnterSubmit"></my-header>
        
        <my-list :selectState="selectState" :todos="todos" @onClickRemoveOneItem="onClickRemoveOneItem" @allSelectState="allSelectState"></my-list>

        <my-foot :activeItemNum="activeItemNum" :selectState="selectState" @onClickSelectState="onClickSelectState" @onClickClearCompleted="onClickClearCompleted"></my-foot>

        </div>`,
            data: function () {
                return {
                    selectState: 'all', //记录当前选中的类型
                    todos: []
                }
            },
            created: function () {
                axios.get('list').then((value)=> {
                    // console.log(value);
                    console.log(value.data);
                    this.todos = value.data;
                    console.log(this.todos);
                })
            },
            // 注册方法
            methods: {
                // 按回车键新增一条笔记
                onEnterSubmit: function (inputTitle) {
                    console.log(this.todos);
                    // 判断当前输入框中是否有内容
                    // trim() 是去除字符串中的空格
                    // 如果inputTitle不为字符串对象 那么就没有trim这个方法
                    if (!inputTitle || !inputTitle.trim()) {
                        // 如果没有内容就跳出 不去新增数据
                        return;
                    }

                    let newObj = {}; //新增一个空数据对象
                    // id直接等于创建数据时的事件戳，已保证id的唯一性
                    newObj.id = +new Date();
                    // 用户输入的标题内容
                    newObj.title = inputTitle;
                    // 默认的新笔记是未完成的状态
                    newObj.completed = false;

                    // 将新内容增加到数据源中，并刷新视图
                    this.todos.push(newObj);
                },
                // 删除的回调方法
                onClickRemoveOneItem: function (item) {
                    // item 是整个数据对象
                    if (item) {
                        
                        // 这是获取要删除的数据在数组中的下标
                        let index = this.todos.indexOf(item);
                        // 从数组中删除index下标的数据
                        this.todos.splice(index, 1);
                    }
                },
                // 点击清除已完成的任务
                onClickClearCompleted() {
                    // 循环所有的数据 
                    // for (let i = 0; i < this.todos.length;) {
                    //     // 判断是否有需要删除
                    //     if (this.todos[i].completed) {
                    //         // 如果有就删除
                    //         this.todos.splice(i, 1);
                    //     } else {
                    //         // 如果当前这个数据不符合条件
                    //         // 那么就查看下一个数据
                    //         i++;
                    //     }
                    // }

                    // 方法二：过滤
                    axios.delete("deleteall");
                    this.todos = this.todos.filter(value => !value.completed);
                },
                // 接收到全选状态改变后的回调方法
                allSelectState(value) {
                    if(value){
                        val = 1
                    }else {
                        val = 0
                    }
                    axios.get("all/" + val);
                },
                // 切换显示状态的方法
                onClickSelectState(value) {
                    console.log(value);
                    
                    this.selectState = value;
                }
            },
            // 计算属性
            computed: {
                activeItemNum: function () {
                    let num = 0;
                    for (let i = 0; i < this.todos.length; i++) {
                        if (!this.todos[i].completed) {
                            num++;
                        }
                    }
                    return num;
                },
            },
        })

        // 声明一个头部组件
        Vue.component('my-header', {
            template: `<header class="header">
            <h1>todos</h1>
            <!-- 输入框 -->
            <input placeholder="What needs to be done?" class="new-todo" @keydown.enter="onEnterSubmit" v-model="inputTitle">
            </header>`,
            data: function () {
                return {
                    inputTitle: '', //是用户新增的内容 初始化为空字符串
                }
            },
            methods: {
                onEnterSubmit: function () {
                    axios.post("add", {
                        title: this.inputTitle,
                    }).then((value) => {
                        console.log(value);
                        // 子组件组抛出事件 和 参数 
                        if (value.data.status == 200) {
                            // 具体操作由父组件完成
                            this.$emit('onEnterSubmit', this.inputTitle);
                            // 清空输入框中的内容
                            this.inputTitle = '';
                        }

                    })

                }
            }
        });

        // 声明列表组件
        Vue.component('my-list', {
            template: `<section class="main">
            <input id="toggle-all" type="checkbox" class="toggle-all" v-model="allSelectState">
            <label for="toggle-all">Mark all as complete</label>
            <ul class="todo-list">
                <li :class="{
                    completed:value.completed,
                    editing:ipnutChangeTitle.id===value.id
                }" v-for="(value,index) in todos" :key="value.id" v-show=" selectState=='all' || ( selectState=='active' && !value.completed ) || (selectState=='completed' && value.completed)">
                    <div class="view"><input type="checkbox" class="toggle" v-model="value.completed" @click="onClickFlag(value)">
                        <label @dblclick="onDblClickLable(value)">{{value.title}}</label>
                        <button class="destroy" @click="onClickRemoveOneItem(value)"></button>
                    </div>

                    <!-- 按下esc时 取消修改的数据内容 -->
                    <!-- keydown.esc  esc的按键点击事件 -->
                    <!-- v-focus 自定义指令 实现出现时自动聚焦 -->
                    <!-- :data-id 自定义属性 确定input框的唯一性 -->
                    <input class="edit" v-model="ipnutChangeTitle.title" @keydown.esc="ipnutChangeTitle={}" v-focus="ipnutChangeTitle.id" @blur="onEnterInput" :data-id="value.id" @keydown.enter="onEnterInput(value)">
                </li>
            </ul>
        </section>`,
            data: function () {
                return {
                    ipnutChangeTitle: {}, //保存想要修改的对象
                };
            },
            props: ['selectState', 'todos'],
            computed: {
                allSelectState: {
                    get: function (value) {
                        // console.log(value);
                        // this.$emit('allSelectState', this.todos.every(value => value.completed));
                        // 没有修改prop里面的值 所以不用改
                        return this.todos.every(value => value.completed);
                    },
                    set: function (value) {
                        // 修改了prop里面的值  所以需要抛事件
                        // 让父组件修改
                        this.$emit('allSelectState', value);
                        // this.todos.forEach(element => element.completed = value);
                    }
                }
            },
            methods: {
                // 删除的回调方法
                onClickRemoveOneItem: function (item) {
                    axios.delete("list/"+ item.id)
                    // 抛出事件
                    this.$emit('onClickRemoveOneItem', item);
                },
                // 双击文本框回调
                onDblClickLable: function (item) {
                    // 将想要改变的对象赋值给inputChangeTitle
                    // 对象不能简单的用等于号直接赋值，这样赋值的两个变量实际是一个变量
                    this.ipnutChangeTitle = {};
                    for (let value in item) {
                        // value 是item的每个键值对的 键名
                        // item[value] 是item的每个键值对的 值
                        this.ipnutChangeTitle[value] = item[value];
                    }
                   
                },
                // 确认要修改的内容
                onEnterInput: function (item) {
                    // 将修改后的内容复制给用来显示的数据
                    item.title = this.ipnutChangeTitle.title;
                     //修改数据接口
                    axios.put('list/'+item.id,{
                            title: item.title,
                        });
                    // 赋值后隐藏修改框
                    this.ipnutChangeTitle = {};
                },
                onClickFlag:function(item){
                    console.log(item);
                    if(item){
                        num = 1;
                    }else{
                        num=0;
                    }
                    axios.put("select/"+item.id,{
                        val:num
                    })
                }
            },
            // 自定义指令
            directives: {
                'focus': {
                    // 当绑定的对象发生改变时 触发update回调
                    update: function (el, binding) {
                        // 触发指令时的值
                        let curValue = binding.value;

                        // input标签的唯一标识
                        // getAttribute 获取标签的属性值
                        let inputValue = el.getAttribute('data-id');

                        // 判断改变的对象和要改变的对象是否相等
                        if (curValue == inputValue) {
                            // 聚焦到要显示的对象上
                            el.focus();
                        }
                    }
                }
            },
        });

        // 底部组件
        Vue.component('my-foot', {
            // 底部组件的标签分离
            template: `<footer class="footer">
            <span class="todo-count"><strong>{{activeItemNum}}</strong> item left</span>
            <ul class="filters">
                <li v-for="(value,index) in selectList" :key="index"><a v-bind:class="{selected:selectState==value.toLocaleLowerCase()}" @click="onClickSelectState(value)">{{value}}</a></li>
            </ul>
            <button class="clear-completed" @click="onClickClearCompleted">Clear completed</button>
        </footer>`,
            props: ['activeItemNum', 'selectState'],
            data: function () {
                return {
                    selectList: ['All', 'Active', 'Completed'], //状态数组
                }
            },
            methods: {
                // 清除已完成的任务
                onClickClearCompleted() {
                    this.$emit('onClickClearCompleted');
                },
                // 切换显示的内容状态
                onClickSelectState(value) {
                    this.$emit('onClickSelectState', value.toLocaleLowerCase());
                }
            }
        })

        new Vue({
            el: "#todoapp",
        })
    </script>
</body>

</html>