<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <input type="text" v-model='inputValueName'>
        <button @click="addOneItem">增加</button>
        <button @click="addBeforItem">在第一个行加</button>
        <input type="text" v-model="addNumIndex">
        <button @click="addNumItem(addNumIndex)">在任意位置添加数据</button>

        <!-- v-for 循环模板 -->
        <!-- 语法：v-for="(item,index) in items" -->
        <!-- item：单条数据源 -->
        <!-- index：当前数据源的下标 -->
        <!-- items：所有的数据源 数据类型是 数组 -->

        <!-- :key 唯一标识 -->
        <!-- 语法 :key="id" -->
        <!-- key 固定的属性名 -->
        <!-- id 唯一的数值 -->
        <!-- :key 和 v-for 必须同时存在于同一的标签中 -->
        <div v-for="(item,index) in datas" :key="item.id">
            <input type="radio"> {{index+1}}=== id：{{item.id}} name：{{item.name}}
        </div>



    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el: "#app",
            data: {
                datas: [{
                    id: 1,
                    name: 'a',
                }],
                inputValueName: '',
                addNumIndex: '',
            },
            methods: {
                addOneItem: function() {
                    // 新增一条数据
                    let item = this.getItem();

                    // 直接操作数据
                    // 把新的数据加到数据源中
                    this.datas.push(item);
                },
                // 获取新增的数据源
                getItem: function() {
                    // 新增一条数据
                    let item = {};

                    // 数据id自增
                    item.id = this.datas.length + 1;

                    // 获取用户输入的名字
                    item.name = this.inputValueName;

                    return item;
                },
                // 在最前面新增一个方法
                addBeforItem: function() {
                    let item = this.getItem();

                    // 在数组最前面新增一条数据
                    this.datas.unshift(item);
                },
                // 在任意位置增加一条属性
                addNumItem: function(num) {
                    // 给添加位置设置默认值
                    num = num || 1;

                    let item = this.getItem();

                    // 在数据指定位置增加数据
                    this.datas.splice(num, 0, item);
                }
            }
        })
    </script>
</body>

</html>