<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <input type="text" v-model="value1">
        <select name="" id="" v-model="select">
            <option>+</option>
            <option>-</option>
            <option>*</option>
            <option>/</option>
            <input type="text" v-model="value2">
            <button @click="onClick">=</button>
            <span>{{result}}</span>
        </select>
    </div>
    
    <br>
    <div style="color: red;">
        <ol>
            <li>computed 和 watch 模式应该直接不点等于号就显示答案</li>
        </ol>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                value1: 0,
                value2: 0,
                select: '+',
                result: 0
            },
            computed: {
                sum: function() {
                    if (this.select == '+') {
                        return this.result = parseInt(this.value1) + parseInt(this.value2);
                    } else if (this.select == '-') {
                        return this.result = parseInt(this.value1) - parseInt(this.value2);
                    } else if (this.select == '*') {
                        return this.result = parseInt(this.value1) * parseInt(this.value2);
                    } else if (this.select == '/') {
                        return this.result = parseInt(this.value1) / parseInt(this.value2);
                    }
                }
            },
            methods: {
                onClick: function() {
                    this.sum
                }
            }
        })
    </script>
</body>

</html>