<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
    <div id="app">
        {{result}}
        <br> 数值1：
        <input type="text" name="" id="" v-model="num1"> <br>
        <input type="text" name="" id="" v-model='count' v-on:keyup.enter.space="getSum">
        <button v-on:keydown.shua="getSum">测试</button>
    </div>
    <script src="js/vue.js"></script>
    <script>
        Vue.config.keyCodes.shua = 65;
        var vm = new Vue({
            el: '#app',
            data: {
                count: 100,
                num1: 0,
                result: ''
            },
            methods: {
                getSum: function() {
                    this.result = parseInt(this.count) + parseInt(this.num1);
                    console.log(this.result);
                }
            }
        })
    </script>
</body>

</html>