<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <input type="text" v-model="num1" @keyup.enter="keyup1">
        <select v-model="select">
            <option value='+'>+</option>
            <option value='-'>-</option>
            <option value='*'>*</option>
            <option value='/'>/</option>
        </select>
        <input type="text" v-model="num2" class="num2" @keyup.enter="keyup2">
        <button @click="calc">=</button>
        <span v-text="result"></span>
    </div>

    <br>
    <div style="color: red;">
        <ol>
            <li>在用vue框架时,不要再自己主动获取dom元素</li>
        </ol>
    </div>

    <script src="js/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                num1: '',
                num2: '',
                select: '+',
                result: ''
            },
            methods: {
                calc: function () {
                    if (this.select == '+') {
                        this.result = parseInt(this.num1) + parseInt(this.num2);
                    }
                    if (this.select == '-') {
                        this.result = this.num1 - this.num2;
                    }
                    if (this.select == '*') {
                        this.result = this.num1 * this.num2;
                    }
                    if (this.select == '/') {
                        this.result = this.num1 / this.num2;
                    }
                },
                keyup1: function (e) {
                    document.querySelector('.num2').focus();
                },
                keyup2: function () {
                    this.calc();
                }
            }
        });
    </script>
</body>

</html>