<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <input type="text" v-model="add1" @keyup.enter="keyup1">
        <select name="" id="" v-model="select">
            <option>+</option>
            <option>-</option>
            <option>*</option>
            <option>/</option>
        </select>
        <input type="text" class="input" v-model="add2" @keyup.enter="keyup2" ref="input2">
        <button @click="sum">=</button>
        <span v-text="sum1"></span>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
        new Vue({
            el: '#app',
            data: {
                add1: '',
                select: '+',
                add2: '',
                sum1: '',
            },
            methods: {
                keyup1: function() {
                    // 实现切换输入框
                    this.$refs.input2.focus();
                },
                keyup2: function() {
                    // 实现计算结果
                    this.sum();
                },
                sum: function() {
                    // 实现计算结果
                    let type = this.select;
                    let num1 = parseInt(this.add1);
                    let num2 = parseInt(this.add2);

                    let sum;
                    switch (type) {
                        case '+':
                            sum = num1 + num2;
                            break;
                        case '-':
                            sum = num1 - num2;
                            break;
                        case '*':
                            sum = num1 * num2;
                            break;
                        case '/':
                            sum = num1 / num2;
                            break;
                    }

                    this.sum1 = sum;
                }
            }
        })
    </script>
</body>

</html>